@import "tailwindcss";

body {
    background-color: #00000b;
    text-align: center;
    color: whitesmoke;
    font-weight: bold;
    border-style: solid;
}

.header h1{
    font-size: xx-large;
    border-style: solid;
    border-color: #789339;
}

.skaters h2{
    text-align: left;
    color: orangered;
}

.skaters p {
    text-align: left;
    color: whitesmoke;
}

.img1 {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

footer{
    color: whitesmoke;
}
