header{
    font-size: xx-large;
}

body {
    background-color: #00000b;
    text-align: center;
    color: whitesmoke;

}

.skaters h2{
    text-align: left;
    color: orangered;
    font-size: medium;
    white-space: pre-wrap;
}

.skaters{
    font-size: medium;
}
.skaters p {
    text-align: left;
    color: whitesmoke;
}

.img1 {
    width: 150px;
    height: 150px;
    display: block;
    margin: 0 auto;
}

footer{
    color: whitesmoke;
}

nav li{
    text-align: left;
}

